body{
    height: 100vh;
    background-color: #1400ac;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
}
p{
    margin: 0;
}
#game-intro{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#game-end{
  display:none;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.text-window{
    width:40%;
    height: 30%;
    background-color: #febe41;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    text-align: center;
    border-radius: 50px;
    color:black;
    font-size: 24px;
}

.button{
    background-color: #ff2500;
    color:white;
    padding:1em 3em;
    border: none;
    border-radius: 15px;
    text-transform:uppercase;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.button:hover {
    background-color: #ff5416; 
}

.button:active {
    transform: scale(0.95); 
    background-color: #1400ac; 
}
.button-holder{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#game-screen {
    display: none;
    width: 100vw;
    height: 100vh;
    padding: 100px 0 0 100px;
    color: white;
    text-transform: uppercase;
    /* justify-content: center; */
    position: relative;
    background-image: url(../images/bckg-04.png);
    background-size: auto;
    animation: slide 6s linear infinite;
  }
  #instructions-image{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
  }

  @keyframes slide {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -2000px 0px;
    }
  }

  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 220px;
    font-size: 24px;
    font-weight:600;
  }
  .exit{
    display: flex;
    flex-direction: column;
    padding: 30px;
    cursor: pointer;
  }
  .line{
    width: 50px;
    height: 5px;
    background-color: white;
    transition: transform 1s ease;
  }
  .first{
    transform-origin: center;
    transform: rotate(40deg);
  }
  .second{
    transform-origin: center;
    transform: rotate(140deg);
    position: relative;
    top:-5px;
  }
  .third{
    transform-origin: center;
    transform: rotate(140deg);
    position: relative;
    top:-10px;
  }
  .exit:hover .first{
    transform: rotate(-25deg);
  }
  .exit:hover .second{
    transform:rotate(-155deg);
  }
  .exit:hover .third{
    transform:rotate(0deg);
  }
  
  /* -----player---- */

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.bottom-rectangle {
  width: 250px; 
  height: 90px; 
  background-color: #ff2500; 
  border-radius: 50px;
}

.middle-rectangle {
  width: 180px; 
  height: 90px; 
  background-color:#ff2500; 
  border-radius: 50px;
}

.head {
  width: 90px; 
  height: 90px; 
  background-color: #ff2500; 
  border-radius: 50%; 
}
.head::before,
.head::after {
  content: '';
  position: absolute;
  top: 20px;
  background-size: cover;
}

.head::before {
  width: 90px;
  height: 72px;
  left: 10px;
  background-image: url('../images/w_left.png'); 
}

.head::after {
  width: 93px;
  height: 64px;
  right: 10px;
  background-image: url('../images/w_right.png'); 
}






